In [5]:
import pd

ImportError: No module named 'pd'

In [6]:
df = pd.read_csv('file.csv', sep=';')

NameError: name 'pd' is not defined

In [7]:
import pandas as pd

In [10]:
df = pd.read_csv('AAPL-2016-03-11', sep=',')

In [11]:
df.head()

,2016-03-11,04:00:00.017,QUOTE,102.25,102.59,4,2,0.0,0,80,80.1,0.1,0.2
0,2016-03-11,04:00:00.017,TRADE,0.00,0.00,0,0,101.74,24,0,0,80,37
1,2016-03-11,04:00:00.017,TRADE,0.00,0.00,0,0,101.97,25,0,0,80,37
2,2016-03-11,04:00:00.017,TRADE,0.00,0.00,0,0,102.24,24,0,0,80,37
3,2016-03-11,04:00:32.734,QUOTE,102.25,102.59,4,3,0.00,0,80,80,0,0
4,2016-03-11,04:01:02.268,QUOTE,102.25,102.58,4,1,0.00,0,80,80,0,0

In [12]:
import numpy as np

In [13]:
import matplotlib.pcyplot as plt

/Users/RAFA/anaconda/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/Users/RAFA/anaconda/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [13]:
import matplotlib.pyplot as plt

/Users/RAFA/anaconda/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/Users/RAFA/anaconda/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [13]:
import matplotlib.pyplot as plt

/Users/RAFA/anaconda/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/Users/RAFA/anaconda/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [14]:
import matplotlib.pyplot as plt

In [15]:
df.tail()

,2016-03-11,04:00:00.017,QUOTE,102.25,102.59,4,2,0.0,0,80,80.1,0.1,0.2
905871,2016-03-11,19:49:27.419,QUOTE,102.15,102.22,14,1,0.00,0,80,81,0,0
905872,2016-03-11,19:49:27.419,TRADE,0.00,0.00,0,0,102.16,83,0,0,80,37
905873,2016-03-11,19:49:31.969,QUOTE,102.16,102.22,1,1,0.00,0,80,81,0,0
905874,2016-03-11,19:49:33.882,QUOTE,102.16,102.22,2,1,0.00,0,80,81,0,0
905875,2016-03-11,19:50:30.808,QUOTE,102.16,102.22,10,1,0.00,0,75,81,0,0

In [16]:
df.shape

(905876, 13)

In [17]:
df.head(10)

,2016-03-11,04:00:00.017,QUOTE,102.25,102.59,4,2,0.0,0,80,80.1,0.1,0.2
0,2016-03-11,04:00:00.017,TRADE,0.00,0.00,0,0,101.74,24,0,0,80,37
1,2016-03-11,04:00:00.017,TRADE,0.00,0.00,0,0,101.97,25,0,0,80,37
2,2016-03-11,04:00:00.017,TRADE,0.00,0.00,0,0,102.24,24,0,0,80,37
3,2016-03-11,04:00:32.734,QUOTE,102.25,102.59,4,3,0.00,0,80,80,0,0
4,2016-03-11,04:01:02.268,QUOTE,102.25,102.58,4,1,0.00,0,80,80,0,0
5,2016-03-11,04:01:14.938,QUOTE,102.00,102.58,4,1,0.00,0,80,80,0,0
6,2016-03-11,04:01:49.954,QUOTE,102.01,102.58,1,1,0.00,0,80,80,0,0
7,2016-03-11,04:04:29.898,TRADE,0.00,0.00,0,0,102.03,100,0,0,80,0
8,2016-03-11,04:04:29.899,TRADE,0.00,0.00,0,0,102.03,8,0,0,80,37
9,2016-03-11,04:06:33.748,QUOTE,102.05,102.58,1,1,0.00,0,80,80,0,0

In [18]:
len(df)

905876

In [19]:
df.coloumns

AttributeError: 'DataFrame' object has no attribute 'coloumns'

In [20]:
df.columns

Index(['2016-03-11', '04:00:00.017', 'QUOTE', '102.25', '102.59', '4', '2',
       '0.0', '0', '80', '80.1', '0.1', '0.2'],
      dtype='object')

In [21]:
df.dtypes

2016-03-11       object
04:00:00.017     object
QUOTE            object
102.25          float64
102.59          float64
4                 int64
2                 int64
0.0             float64
0                 int64
80                int64
80.1              int64
0.1               int64
0.2               int64
dtype: object

In [22]:
df.values

array([['2016-03-11', '04:00:00.017', 'TRADE', ..., 0, 80, 37],
       ['2016-03-11', '04:00:00.017', 'TRADE', ..., 0, 80, 37],
       ['2016-03-11', '04:00:00.017', 'TRADE', ..., 0, 80, 37],
       ...,
       ['2016-03-11', '19:49:31.969', 'QUOTE', ..., 81, 0, 0],
       ['2016-03-11', '19:49:33.882', 'QUOTE', ..., 81, 0, 0],
       ['2016-03-11', '19:50:30.808', 'QUOTE', ..., 81, 0, 0]], dtype=object)

In [23]:
df.close()

AttributeError: 'DataFrame' object has no attribute 'close'

In [30]:
df = pd.read_csv('AAPL-2016-03-11', sep=',' ,parse_dates=True,dayfirst=True ,names=['DATE', 'TIME', 'TYPE', 'BID', 'ASK', 'BID_SIZE',
'ASK_SIZE','LAST','LAST_SIZE','BIDEXCH','ASKEXCH','LASTEXCH','COND'])

In [31]:
df.head(5)

,DATE,TIME,TYPE,BID,ASK,BID_SIZE,ASK_SIZE,LAST,LAST_SIZE,BIDEXCH,ASKEXCH,LASTEXCH,COND
0,2016-03-11,04:00:00.017,QUOTE,102.25,102.59,4,2,0.00,0,80,80,0,0
1,2016-03-11,04:00:00.017,TRADE,0.00,0.00,0,0,101.74,24,0,0,80,37
2,2016-03-11,04:00:00.017,TRADE,0.00,0.00,0,0,101.97,25,0,0,80,37
3,2016-03-11,04:00:00.017,TRADE,0.00,0.00,0,0,102.24,24,0,0,80,37
4,2016-03-11,04:00:32.734,QUOTE,102.25,102.59,4,3,0.00,0,80,80,0,0

In [ ]:
df.

In [26]:
df.head(2)

,2016-03-11,04:00:00.017,QUOTE,102.25,102.59,4,2,0.0,0,80,80.1,0.1,0.2
0,2016-03-11,04:00:00.017,TRADE,0.0,0.0,0,0,101.74,24,0,0,80,37
1,2016-03-11,04:00:00.017,TRADE,0.0,0.0,0,0,101.97,25,0,0,80,37

In [32]:
df.col1

AttributeError: 'DataFrame' object has no attribute 'col1'

In [33]:
df.date

AttributeError: 'DataFrame' object has no attribute 'date'

In [34]:
df.DATE[10
       ]

'2016-03-11'

In [35]:
df.iloc[0:4, 0:2]

         DATE          TIME
0  2016-03-11  04:00:00.017
1  2016-03-11  04:00:00.017
2  2016-03-11  04:00:00.017
3  2016-03-11  04:00:00.017

In [36]:
df.iloc[0:4, 0:5]

         DATE          TIME   TYPE     BID     ASK
0  2016-03-11  04:00:00.017  QUOTE  102.25  102.59
1  2016-03-11  04:00:00.017  TRADE    0.00    0.00
2  2016-03-11  04:00:00.017  TRADE    0.00    0.00
3  2016-03-11  04:00:00.017  TRADE    0.00    0.00

In [37]:
df.iloc[0:100, 0:5]

          DATE          TIME   TYPE     BID     ASK
0   2016-03-11  04:00:00.017  QUOTE  102.25  102.59
1   2016-03-11  04:00:00.017  TRADE    0.00    0.00
2   2016-03-11  04:00:00.017  TRADE    0.00    0.00
3   2016-03-11  04:00:00.017  TRADE    0.00    0.00
4   2016-03-11  04:00:32.734  QUOTE  102.25  102.59
5   2016-03-11  04:01:02.268  QUOTE  102.25  102.58
6   2016-03-11  04:01:14.938  QUOTE  102.00  102.58
7   2016-03-11  04:01:49.954  QUOTE  102.01  102.58
8   2016-03-11  04:04:29.898  TRADE    0.00    0.00
9   2016-03-11  04:04:29.899  TRADE    0.00    0.00
10  2016-03-11  04:06:33.748  QUOTE  102.05  102.58
11  2016-03-11  04:10:34.299  QUOTE  102.05  102.25
12  2016-03-11  04:11:22.144  QUOTE  102.05  102.25
13  2016-03-11  04:11:22.144  TRADE    0.00    0.00
14  2016-03-11  04:11:22.269  QUOTE  102.05  102.58
15  2016-03-11  04:11:22.269  TRADE    0.00    0.00
16  2016-03-11  04:11:32.329  QUOTE  102.05  102.58
17  2016-03-11  04:11:39.171  QUOTE  102.05  102.45
18  2016-03-11  04:13:12.403  QUOTE  102.05  102.34
19  2016-03-11  04:13:23.800  QUOTE  102.05  102.20
20  2016-03-11  04:13:32.700  QUOTE  102.05  102.34
21  2016-03-11  04:13:32.700  TRADE    0.00    0.00
22  2016-03-11  04:13:32.700  TRADE    0.00    0.00
23  2016-03-11  04:15:16.137  QUOTE  102.05  102.23
24  2016-03-11  04:21:16.979  QUOTE  102.00  102.23
25  2016-03-11  04:42:07.804  QUOTE  102.00  102.20
26  2016-03-11  04:42:28.225  QUOTE  102.00  102.20
27  2016-03-11  04:45:22.624  TRADE    0.00    0.00
28  2016-03-11  04:45:22.625  QUOTE  101.07  102.20
29  2016-03-11  04:49:32.781  QUOTE  101.10  102.20
..         ...           ...    ...     ...     ...
70  2016-03-11  05:08:57.652  TRADE    0.00    0.00
71  2016-03-11  05:08:57.652  TRADE    0.00    0.00
72  2016-03-11  05:08:57.694  QUOTE  102.00  102.36
73  2016-03-11  05:08:57.720  TRADE    0.00    0.00
74  2016-03-11  05:08:57.735  QUOTE  102.15  102.36
75  2016-03-11  05:08:57.777  QUOTE  102.00  102.36
76  2016-03-11  05:11:54.550  QUOTE  102.01  102.36
77  2016-03-11  05:12:08.426  QUOTE  102.01  102.36
78  2016-03-11  05:12:08.426  TRADE    0.00    0.00
79  2016-03-11  05:12:08.426  TRADE    0.00    0.00
80  2016-03-11  05:12:08.426  TRADE    0.00    0.00
81  2016-03-11  05:23:51.219  QUOTE  102.10  102.36
82  2016-03-11  05:24:27.042  QUOTE  102.10  102.57
83  2016-03-11  05:24:27.042  TRADE    0.00    0.00
84  2016-03-11  05:24:27.042  TRADE    0.00    0.00
85  2016-03-11  05:25:59.120  TRADE    0.00    0.00
86  2016-03-11  05:27:56.348  QUOTE  102.10  102.50
87  2016-03-11  05:30:00.849  QUOTE  102.11  102.50
88  2016-03-11  05:31:31.238  QUOTE  102.11  102.46
89  2016-03-11  05:32:12.805  QUOTE  102.10  102.46
90  2016-03-11  05:32:12.805  TRADE    0.00    0.00
91  2016-03-11  05:32:40.918  TRADE    0.00    0.00
92  2016-03-11  05:34:49.741  QUOTE  102.10  102.41
93  2016-03-11  05:35:22.869  QUOTE  102.10  102.46
94  2016-03-11  05:36:08.565  QUOTE  102.11  102.46
95  2016-03-11  05:36:17.533  QUOTE  102.11  102.41
96  2016-03-11  05:36:21.082  QUOTE  102.11  102.41
97  2016-03-11  05:36:21.163  QUOTE  102.11  102.41
98  2016-03-11  05:36:40.205  QUOTE  102.11  102.40
99  2016-03-11  05:37:50.128  TRADE    0.00    0.00

[100 rows x 5 columns]

In [38]:
df.describe()

,BID,ASK,BID_SIZE,ASK_SIZE,LAST,LAST_SIZE,BIDEXCH,ASKEXCH,LASTEXCH,COND
count,905877.000000,905877.000000,905877.000000,905877.000000,905877.000000,9.058770e+05,905877.000000,905877.000000,905877.000000,905877.000000
mean,84.422717,84.431092,6.438084,8.314412,17.494379,3.290287e+01,67.638405,67.371231,13.417460,0.835293
std,38.425403,38.429215,13.249100,24.784775,38.436433,3.048707e+03,31.073991,30.951725,29.651797,5.494677
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,101.720000,101.730000,2.000000,2.000000,0.000000,0.000000e+00,75.000000,75.000000,0.000000,0.000000
50%,101.860000,101.870000,5.000000,5.000000,0.000000,0.000000e+00,80.000000,80.000000,0.000000,0.000000
75%,101.990000,102.000000,8.000000,9.000000,0.000000,0.000000e+00,81.000000,81.000000,0.000000,0.000000
max,102.250000,102.590000,894.000000,1468.000000,102.360000,1.994279e+06,90.000000,90.000000,90.000000,37.000000

In [1]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

NameError: name 'pd' is not defined

In [2]:
import pandas as pd

In [3]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

NameError: name 'np' is not defined

In [4]:
import numpy as np

In [6]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [7]:
s.shape

(5,)

In [8]:
print(s)

a    0.586210
b   -0.517947
c    0.733893
d    0.629764
e   -0.885806
dtype: float64

In [9]:
import matplotlib.pcyplot as plt

ImportError: No module named 'matplotlib.pcyplot'

In [10]:
import matplotlib.pcyplot as plt

ImportError: No module named 'matplotlib.pcyplot'

In [11]:
import matplotlib.pcyplot as plt

ImportError: No module named 'matplotlib.pcyplot'

In [1]:
import matplotlib.pcyplot as plt

ImportError: No module named 'matplotlib.pcyplot'

In [2]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

NameError: name 'pd' is not defined

In [3]:
import pandas as pd
import numpy as np

In [1]:
import matplotlib.pcyplot as plt

ImportError: No module named 'matplotlib.pcyplot'

In [2]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

NameError: name 'pd' is not defined

In [4]:
import pandas as pd
import numpy as np

In [5]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

In [6]:
s

a   -0.405412
b    1.561870
c   -0.376936
d    1.194802
e    1.150603
dtype: float64

In [7]:
pd.Series(5., index=['a', 'b', 'c', 'd', 'e'])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [8]:
s[0]

-0.4054116282600333

In [9]:
s[0:5]

a   -0.405412
b    1.561870
c   -0.376936
d    1.194802
e    1.150603
dtype: float64

In [10]:
s[0:6]

a   -0.405412
b    1.561870
c   -0.376936
d    1.194802
e    1.150603
dtype: float64

In [11]:
s[0:10]

a   -0.405412
b    1.561870
c   -0.376936
d    1.194802
e    1.150603
dtype: float64

In [12]:
s[s > s.median()]

b    1.561870
d    1.194802
dtype: float64

In [13]:
s.media()

AttributeError: 'Series' object has no attribute 'media'

In [14]:
s.median()

1.1506034402609768

In [15]:
s

a   -0.405412
b    1.561870
c   -0.376936
d    1.194802
e    1.150603
dtype: float64

In [16]:
s[s < s.median()]

a   -0.405412
c   -0.376936
dtype: float64

In [17]:
s[[4, 3, 1]]

e    1.150603
d    1.194802
b    1.561870
dtype: float64

In [18]:
s[4, 3, 1]

KeyError: (4, 3, 1)

In [19]:
s[[4, 3, 1]]

e    1.150603
d    1.194802
b    1.561870
dtype: float64

In [20]:
s[4]

1.1506034402609768

In [21]:
s[[1]]

b    1.56187
dtype: float64

In [22]:
np.exp(s)

a    0.666702
b    4.767730
c    0.685960
d    3.302903
e    3.160099
dtype: float64

In [23]:
s

a   -0.405412
b    1.561870
c   -0.376936
d    1.194802
e    1.150603
dtype: float64

In [24]:
s

a   -0.405412
b    1.561870
c   -0.376936
d    1.194802
e    1.150603
dtype: float64

In [25]:
s

a   -0.405412
b    1.561870
c   -0.376936
d    1.194802
e    1.150603
dtype: float64

In [26]:
s

a   -0.405412
b    1.561870
c   -0.376936
d    1.194802
e    1.150603
dtype: float64

In [27]:
s['a']

-0.4054116282600333

In [28]:
s['b']

1.5618703856546599

In [29]:
s['c']

-0.37693576594642403

In [30]:
s.get('f')

In [31]:
s.get('f', np.nan)

nan

In [32]:
s.get('f', 0)

0

In [33]:
s

a   -0.405412
b    1.561870
c   -0.376936
d    1.194802
e    1.150603
dtype: float64

In [34]:
s +2

a    1.594588
b    3.561870
c    1.623064
d    3.194802
e    3.150603
dtype: float64

In [35]:
s2=s+2

In [36]:
s2

a    1.594588
b    3.561870
c    1.623064
d    3.194802
e    3.150603
dtype: float64

In [37]:
s3=s2+1

In [38]:
s3

a    2.594588
b    4.561870
c    2.623064
d    4.194802
e    4.150603
dtype: float64

In [39]:
s[1:]

b    1.561870
c   -0.376936
d    1.194802
e    1.150603
dtype: float64

In [40]:
s[:1]

a   -0.405412
dtype: float64

In [41]:
s[:-1]

a   -0.405412
b    1.561870
c   -0.376936
d    1.194802
dtype: float64

In [42]:
s[:-2]

a   -0.405412
b    1.561870
c   -0.376936
dtype: float64

In [43]:
s[:-3]

a   -0.405412
b    1.561870
dtype: float64

In [44]:
s[:-4]

a   -0.405412
dtype: float64

In [45]:
s[:-5]

Series([], dtype: float64)

In [46]:
s[1:] + s[:-1]

a         NaN
b    3.123741
c   -0.753872
d    2.389604
e         NaN
dtype: float64

In [47]:
s[:1]

a   -0.405412
dtype: float64

In [48]:
s[1:] +s[:1]

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64

In [49]:
s[1:]

b    1.561870
c   -0.376936
d    1.194802
e    1.150603
dtype: float64

In [50]:
s[:1]

a   -0.405412
dtype: float64

In [52]:
s[1:2]

b    1.56187
dtype: float64

In [53]:
s[0:2]

a   -0.405412
b    1.561870
dtype: float64

In [54]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [55]:
d

{'one': a    1.0
 b    2.0
 c    3.0
 dtype: float64, 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64}

In [56]:
d={'one' : pd.Series([1., 2., 3.]}

SyntaxError: invalid syntax (<ipython-input-56-8c4f812c5633>, line 1)

In [ ]:
d= {'one' : pd.Series([1.0, 2.0, 3.0]}

In [57]:
d

{'one': a    1.0
 b    2.0
 c    3.0
 dtype: float64, 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64}

In [58]:
d= {'one' : pd.Series([1.0, 2.0, 3.0]}

SyntaxError: invalid syntax (<ipython-input-58-054bc3879aba>, line 1)

In [59]:
d= {pd.Series([1.0, 2.0, 3.0]}

SyntaxError: invalid syntax (<ipython-input-59-cd7314661bd2>, line 1)

In [60]:
d= {pd.Series([1.0, 2.0, 3.0],index=['a']}

SyntaxError: invalid syntax (<ipython-input-60-4f3f358fa4a3>, line 1)

In [61]:
df = pd.DataFrame(pd.Series([1.0, 2.0, 3.0])

SyntaxError: unexpected EOF while parsing (<ipython-input-61-4a5358aa4959>, line 1)

In [62]:
d = {
'one' : pd.Series([1., 2., 3.],index=['a', 'b', 'c']),
'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])
}

In [63]:
df= DataFrame(df)

NameError: name 'DataFrame' is not defined

In [64]:
df= pd.DataFrame(df)

NameError: name 'df' is not defined

In [65]:
df = pd.DataFrame(d)

In [66]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [67]:
d={'a1':pd.Series([1., 2., 3.]),'a2':pd.Series([4,5,6])}
df=pd.DataFrame(d)
df

    a1  a2
0  1.0   4
1  2.0   5
2  3.0   6

In [68]:
pd.DataFrame(d, index=['d', 'b', 'a'])

   a1  a2
d NaN NaN
b NaN NaN
a NaN NaN

In [69]:
df=pd.DataFrame(d)

In [70]:
d={'a1':pd.Series([1., 2., 3.]),'a2':pd.Series([4,5,6])}
df=pd.DataFrame(d)
df

    a1  a2
0  1.0   4
1  2.0   5
2  3.0   6

In [71]:
d={'a1':pd.Series([1., 2., 3.]),'a2':pd.Series([4,5,6])}
df=pd.DataFrame(d, index=['d', 'b', 'a'])
df

   a1  a2
d NaN NaN
b NaN NaN
a NaN NaN

In [72]:
d={'a1':pd.Series([1., 2., 3.]),'a2':pd.Series([4,5,6])}
df=pd.DataFrame(d)
df

    a1  a2
0  1.0   4
1  2.0   5
2  3.0   6

In [73]:
d={'a1':pd.Series([1., 2., 3.]),'a2':pd.Series([4,5,6])}
df=pd.DataFrame(d,index=['d', 'b', 'a'])
df

   a1  a2
d NaN NaN
b NaN NaN
a NaN NaN

In [74]:
d={'a1':pd.Series([1., 2., 3.]),'a2':pd.Series([4,5,6])}
df=pd.DataFrame(d)
df

    a1  a2
0  1.0   4
1  2.0   5
2  3.0   6

In [75]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [76]:
df.columns

Index(['a1', 'a2'], dtype='object')

In [77]:
d={'a1':pd.Series([1., 2., 3.]),'a2':pd.Series([4,5,6])}
df=pd.DataFrame(d)
df.columns

Index(['a1', 'a2'], dtype='object')

In [78]:
d={'a1':pd.Series([1., 2., 3.]),'a2':pd.Series([4,5,6])}
df=pd.DataFrame(d)
df.index

RangeIndex(start=0, stop=3, step=1)

In [79]:
d={'a1':pd.Series([1., 2., 3.]),'a2':pd.Series([4,5,6])}
df=pd.DataFrame(d)
df.values

array([[ 1.,  4.],
       [ 2.,  5.],
       [ 3.,  6.]])

In [80]:
df

    a1  a2
0  1.0   4
1  2.0   5
2  3.0   6

In [81]:
pd.DataFrame(d, index=['a', 'b', 'c', 'd'])

   a1  a2
a NaN NaN
b NaN NaN
c NaN NaN
d NaN NaN

In [83]:
d={'a1':pd.Series([1., 2., 3.]),'a2':pd.Series([4,5,6])}
df=pd.DataFrame(d, index=['a', 'b', 'c'])
df

   a1  a2
a NaN NaN
b NaN NaN
c NaN NaN

In [84]:
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df=pd.DataFrame(data2)
df

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [85]:
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df=pd.DataFrame(data2,columns={'x','y','z'})
df

    z   y   x
0 NaN NaN NaN
1 NaN NaN NaN

In [86]:
df=pd.DataFrame(data2,columns={'x','y','z'},index={'r','s'})

In [87]:
df

    z   y   x
r NaN NaN NaN
s NaN NaN NaN

In [88]:
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df=pd.DataFrame(data2,columns={'x','y','z'},index={'r','s'})
df

    z   y   x
r NaN NaN NaN
s NaN NaN NaN

In [89]:
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df=pd.DataFrame(data2, index=['first', 'second'])
df

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [93]:
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df=pd.DataFrame(data2, index=['first', 'second'],columns={'x','y','z'})
df

         z   y   x
first  NaN NaN NaN
second NaN NaN NaN

In [94]:
data3=[{1,2,3},{4,5,6}]
df=pd.DataFrame(data3)
df

   0  1  2
0  1  2  3
1  4  5  6

In [96]:
data3=[{'a':1,'b':2,'c':3},{'x':1,'y':2,'z':3}]
df=pd.DataFrame(data3)
df

     a    b    c    x    y    z
0  1.0  2.0  3.0  NaN  NaN  NaN
1  NaN  NaN  NaN  1.0  2.0  3.0

In [97]:
data3=[{1,2,3},columns={'a','b','c'}]
df=pd.DataFrame(data3)
df

SyntaxError: invalid syntax (<ipython-input-97-594724676410>, line 1)

In [99]:
data3=[{1,2,3},columns=['a','b','c']]
df=pd.DataFrame(data3)
df

SyntaxError: invalid syntax (<ipython-input-99-09b2e9a4082b>, line 1)

In [102]:
df=pd.DataFrame(pd.Series(1,2,3), columns=['C', 'A', 'B'])
df

TypeError: Index(...) must be called with a collection of some kind, 2 was passed

In [106]:
d = {'a' : 0., 'b' : 1., 'c' : 2.}
s=pd.Series(d)
s

a    0.0
b    1.0
c    2.0
dtype: float64

In [112]:
d = {'a' : 0., 'b' : 1., 'c' : 2.}
s=pd.Series(d)
df=pd.DataFrame(s,columns=['X'])
df

     X
a  0.0
b  1.0
c  2.0

In [113]:
import matplotlib.pyplot as plt

In [114]:
import sys
import matplotlib

In [115]:
%matplotlib inline

In [116]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 3.5.1 |Anaconda 2.5.0 (x86_64)| (default, Dec  7 2015, 11:24:55)
[GCC 4.2.1 (Apple Inc. build 5577)]
Pandas version 0.18.0
Matplotlib version 1.5.1

In [117]:
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]

In [118]:
zip?

In [120]:
BabyDataSet = list(zip(names,births))
BabyDataSet

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [121]:
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [122]:
df.to_csv?

In [123]:
df.to_csv('births1880.csv',index=False,header=False)

In [127]:
df=pd.read_csv('births1880.csv')
df

       Bob  968
0  Jessica  155
1     Mary   77
2     John  578
3      Mel  973

In [130]:
df = pd.read_csv('births1880.csv', names=['Names','Births'])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(Location, names=['Names','Births'])
df

NameError: name 'Location' is not defined

In [4]:
df=pd.read_csv('births1880.csv')
df

       Bob  968
0  Jessica  155
1     Mary   77
2     John  578
3      Mel  973

In [5]:
df = pd.read_csv(Location, names=['Names','Births'])
df

NameError: name 'Location' is not defined

In [6]:
df = pd.read_csv('births1880.csv', names=['Names','Births'])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [7]:
df.dtypes

Names     object
Births     int64
dtype: object

In [8]:
df.Births.dtype

dtype('int64')

In [9]:
Sorted = df.sort_values(['Births'], ascending=False)
Sorted.head(1)

  Names  Births
4   Mel     973

In [17]:
maxvalue=df['Births'].max()
maxindex=df['Births'] == maxvalue
MaxName = df['Names'][maxindex].values
MaxName

array(['Mel'], dtype=object)

Text = str(maxvalue) + " - " + MaxName
Text

In [19]:
Text = str(maxvalue) + " - " + MaxName

In [21]:
plt.annotate(Text, xy=(1, maxvalue), xytext=(8, 0), 
                 xycoords=('axes fraction', 'data'), textcoords='offset points')

In [22]:
print("The most popular name")
df[df['Births'] == df['Births'].max()]

The most popular name

  Names  Births
4   Mel     973

In [23]:
df['Births'].plot()

In [24]:
df['Births'].plot()

# Maximum value in the data set
MaxValue = df['Births'].max()

# Name associated with the maximum value
MaxName = df['Names'][df['Births'] == df['Births'].max()].values

# Text to display on graph
Text = str(MaxValue) + " - " + MaxName

# Add text to graph
plt.annotate(Text, xy=(1, MaxValue), xytext=(8, 0), 
                 xycoords=('axes fraction', 'data'), textcoords='offset points')

print("The most popular name")
df[df['Births'] == df['Births'].max()]
#Sorted.head(1) can also be used

The most popular name

  Names  Births
4   Mel     973